.banner{
	background-image: url(/slide-1.webp);
	height: 600px;
	background-position: center;
	background-size: cover;
	color: #ffffff;
}
.banner-content h1{
	font-size: 40px;
	word-spacing: -3px;
	line-height: 1.2;
	color: #ffffff;
}
.banner-content a{
	border: 1px solid #ffffff;
	border-radius: 4px;
	margin-right: 12px;
}
.banner-content p{
	padding: 30px 0;
}
.banner-content a:hover{
	border-color: #0aaaa0;
}
