.teams{
	padding: 80px 0;
}
.team-title{
	max-width: 700px ;
	margin: 0 auto;
	margin-bottom: 20px;
}
.team-title img{
	margin: 10px 0;
}
.team-title p{
	font-size: 14px;
	margin-bottom: 40px;
}
.team-item{
	margin: 0 15px;
	position: relative;
	transition: transform 0.3s ease;
}
.team-item img{
	padding-bottom: 15px;
	width: 100%;
	transition: transform 0.35s ease;
}
.team-item h3, .team-item h5{
	color: #444444;
}
.team-item h3{
	font-size: 18px;
	padding-bottom: 5px;
}
.team-item h5{
	font-size: 12px;
}
.team-hover{
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.35s ease;
	background-color:  rgba(0, 150, 150, 0.7);
}
.team-hover a i{
	font-size: 30px;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 10px;
	margin-left: 10px;
}
.team-item:hover .team-hover{
	opacity: 1;
	height: 85%;
}
.team-item:hover{
	transform: translateY(-5px);
}
.team-item:hover img{
	transform: scale(1.02);
}
